
<header>
    <div class="container bg-[#012e5a] h-10">
    <nav class="flex justify-between items-center w-[92%] mx-auto">

      <div class="">
        <ul class="flex items-center gap-[2vw] ml-16">
          <li>
            <mat-icon class="top-icons text-white">call</mat-icon>
            <span class="text-white text-xs">251-116-674192 | 62</span>
          </li>

          <li>
            <mat-icon class="top-icons text-white">place</mat-icon>
            <span class="text-white text-xs">Bole Medhanealem, Abyssina Building 3rd floor</span>
          </li>

          <li>
            <mat-icon class="top-icons text-white">access_time</mat-icon>
            <span class="text-white text-xs">Mon - Sat 8.30 - 11.00 </span>
          </li>
        </ul>
      </div>

      <div >
        <ul class=" flex items-center gap-[0.5vw] mr-24">

          <li>
            <mat-icon class="relative top-1 text-lg text-white">person</mat-icon>
          </li>

          <li>
            <a href="" class="inline-block mt-2 text-white text-xs">Login</a>
          </li>
  
          <li>
            <span> | </span>
            <a href="" class="inline-block mt-2 text-white text-xs">Register</a>
          </li>
        </ul>
      </div>
        
    </nav>
    </div>

    
</header>